<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  	<link rel="shortcut icon" type="image/x-icon" href="./public/meitu-img/other-img/favicon.ico">
	<title>美图T8_双像素黑科技_美图拍照手机_美图官网</title>

	<!-- 引入 bootstrap -->
  	<link href="./public/css/bootstrap.min.css" rel="stylesheet">
  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="./public/js/jquery-1.12.4.min.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="./public/js/bootstrap.min.js"></script>

  	<!-- 自定义样式文件 -->
    <link rel="stylesheet" type="text/css" href="./public/css/my-index.css">

  	
</head>
<body>  
	<!-- 广告提示 -->

	<!-- 顶部导航 一 -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	     	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		       <span class="sr-only">Toggle navigation</span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
	        </button>
	      <a class="navbar-brand" href="#">美图官网</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li> -->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">App<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">美图秀秀</a></li>
	            <li><a href="#">美颜相机</a></li>
	            <li><a href="#">美拍</a></li>
	            <li><a href="#">了解更多产品</a></li>
	          </ul>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav">
	        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li> -->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">智能硬件<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">美图智能手机</a></li>
	          </ul>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav">
	        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li> -->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Region<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Global Home</a></li>
	            <li><a href="#">Hong Kong</a></li>
	            <li><a href="#">Macao</a></li>
	            <li><a href="#">Taiwan</a></li>
	          </ul>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="./login.html">登录</a></li>
	        <li><a href="">|</a></li>
	        <li><a href="./signin.html">注册</a></li>
	        <li><a href="#">S码通道</a></li>
	        <li><a href="./shopCar.html" target="_blank">购物车</a></li>

	      </ul>
	    </div><!-- /.navbar-collapse -->

	  </div><!-- /.container-fluid -->
	</nav>
	<!-- 导航二 -->
	<div class="row nva2-1">
		<div class="col-md-10 col-md-offset-1">
			<div class="logoimg">
				<a href="#"><img src="./public/meitu-img/other-img/logo@2x.png" alt="" ></a>
			</div>
			<div class="nva2">
				<ul> 	
		            <li><a href="./phonelist.html">手机</a></li>
		            <li><a href="#">配件</a></li>
		            <li><a href="#">服务</a></li>
		            <li><a href="#">福利社</a></li>
			    </ul>
		    </div>
		    <div class="input-serch">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="美图M8">
			      <!-- 搜索按钮样式 -->
			      <span class="input-group-btn"> 
			        <button class="btn btn-default" type="button">
			        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			        </button>
			      </span>
			    </div><!-- /input-group -->
		    </div>
		</div>
	</div>
	<!-- 导航二 end -->

	<!-- 内容区域 -->
	<div class="container">
		<!-- 轮播图 -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  	<ol class="carousel-indicators contraP"  style="text-align: right;">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  	</ol>

		  <!-- Wrapper for slides -->
		  	<div class="carousel-inner" role="listbox">
		    	<div class="item active">
		      		<a href="#"><img src="./public/meitu-img/other-img/lunbo1.jpg" alt="..."></a>
		     
		    	</div>
			    <div class="item">
			     	<a href="#"><img src="./public/meitu-img/other-img/lunbo2.jpg" alt="..."></a>
			     
			    </div>
			    <div class="item">
			      	<a href="#"><img src="./public/meitu-img/other-img/lunbo3.jpg" alt="..."></a>
			      
			    </div>
			</div>
		</div>
		<!-- end 轮播图 -->
		<br/>
		<!-- 三个其它 图片链接 -->
		<div class="row goods-list">
			<div class="col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
				  <img src="./public/meitu-img/other-img/other1.jpg" alt="...">
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
				  <img src="./public/meitu-img/other-img/other2.jpg" alt="...">
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
				  <img src="./public/meitu-img/other-img/other3.jpg" alt="...">
				</a>
			</div>
		</div>
		<!--  三个其它 图片链接 end -->
    	<!-- 手机 -->
    	<div class="row">
    		<div class="col-md-12">
		    	<div class="istitle">
			          	<div class="titlename">
			            	<h3 class="">手机</h3>
			          	</div>
			        <a class="tomore" href="./phonelist.html"" target="_blank">更多&gt;</a>
			     </div>
		     </div>
	    </div>
	    <!-- 内容分区一  is 手机 -->
	    <div class="row">
	    	<!-- 第一张图片 -->
	    	<div class="col-md-3 info">
	    		<div class="titleImg">
	    			<img src="./public/meitu-img/other-img/titleimg1.jpg" alt="">
	    		</div>
	    	</div>

	    	<!-- 后面四张图片 -->
	    	<div class="col-md-9">
	    		<div class="row">
	  				<a href="./phoneInfo.html"></a>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/phone1.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/phone2.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/phone3.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/phone4.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    		</div>
	    		

	    	</div>
	    </div>
    	<!-- 配件 -->
    	<div class="row">
    		<div class="col-md-12">
		    	<div class="istitle">
			          	<div class="titlename">
			            	<h3 class="">配件</h3>
			          	</div>
			        <a class="tomore" href="#" target="_blank">更多&gt;</a>
			     </div>
		     </div>
	    </div>
	    <!-- 内容分区二  is 配件 -->
	    <div class="row">
	    	<!-- 第一张图片 -->
	    	<div class="col-md-3 info">
	    		<div class="titleImg">
	    			<img src="./public/meitu-img/other-img/titleImg2.jpg" alt="">
	    		</div>
	    	</div>

	    	<!-- 后面四张图片 -->
	    	<div class="col-md-9">
	    		<div class="row">
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/peijian1.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/pejian2.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/peijian3.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/peijian4.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    		</div>
	    		

	    	</div>
	    </div>
	    <!-- 内容分区二  is 配件2 -->
	    <div class="row">
	    	<!-- 第一张图片 -->
	    	<div class="col-md-3 info">
	    		<div class="titleImg">
	    			<img src="./public/meitu-img/other-img/titleing3.jpg" alt="">
	    		</div>
	    	</div>

	    	<!-- 后面四张图片 -->
	    	<div class="col-md-9">
	    		<div class="row">
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/peijian5.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/peijian6.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/peijian7.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/peijian8.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    		</div>
	    	</div>
	    </div>


		<!-- MeituFamily专区 标题 -->
    	<div class="row">
    		<div class="col-md-12">
		    	<div class="istitle">
			          	<div class="titlename">
			            	<h3 class="">MeituFamily专区</h3>
			          	</div>
			        <a class="tomore" href="#" target="_blank">更多&gt;</a>
			     </div>
		     </div>
	    </div>
 		<!-- 内容分区三  is MeituFamile专区 -->
	    <div class="row">
	    	<!-- 第一张图片 -->
	    	<div class="col-md-3 info">
	    		<div class="titleImg">
	    			<img src="./public/meitu-img/other-img/titleimg4.jpg" alt="">
	    		</div>
	    	</div>

	    	<!-- 后面四张图片 -->
	    	<div class="col-md-9">
	    		<div class="row">
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/t-shust1.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/gongzai2.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span>￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/beizi3.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="isimgdiv">
	    					<img src="./public/meitu-img/other-img/gongzai4.jpg" alt="">
	    				</div>
	    				<span>美图M8</span><br>
	    				<p>个性定制</p>
	    				<span class="price">￥2599起</span>
	    			</div>
	    		</div>
	    	</div>
	    </div>
		<!-- 内容分区三  is MeituFamile专区 end-->


		<!-- 美图APP 标题 -->
    	<div class="row">
    		<div class="col-md-12">
		    	<div class="istitle">
			          	<div class="titlename">
			            	<h3 class="">美图APP</h3>
			          	</div>
			        <a class="tomore" href="#" target="_blank">更多&gt;</a>
			     </div>
		     </div>
	    </div>

	    <!-- 美图APP  轮播广告 -->
		<!-- 轮播图 -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
<!-- 		  	<ol class="carousel-indicators contraP"  style="text-align: right;">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  	</ol> -->

		  <!-- Wrapper for slides -->
		  	<div class="carousel-inner" role="listbox">
		    	<div class="item active">
		      		<div class="col-md-3 info2 info3">
	    				<!-- 商品图片 -->
	    				<div class="appImg">
	    					<img src="./public/meitu-img/other-img/app1.png" alt="">
	    				</div>
	    				<h4>美图秀秀</h4>
	    				<p>中国最流行的图片处理软件</p>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="appImg">
	    					<img src="./public/meitu-img/other-img/app2.png" alt="">
	    				</div>
	    				<h4>美拍</h4>
	    				<p>高颜值手机直播</p>
	    				<!-- <p>超火爆原创视频</p> -->
	    			</div>
			      	<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="appImg">
	    					<img src="./public/meitu-img/other-img/app3.png" alt="">
	    				</div>
	    				<h4>美颜相机</h4>
	    				<p>看见更美的自己</p>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="appImg">
	    					<img src="./public/meitu-img/other-img/app4.png" alt="">
	    				</div>
	    				<h4>海报工厂</h4>
	    				<p>照片瞬间高大上</p>
	    			</div>
		    	</div>
		    	<div class="item">
			     	<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="appImg">
	    					<img src="./public/meitu-img/other-img/app5.png" alt="">
	    				</div>
	    				<h4>潮自拍</h4>
	    				<p>有电影质感的自拍神器</p>
	    			</div>
	    			<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="appImg">
	    					<img src="./public/meitu-img/other-img/app6.png" alt="">
	    				</div>
	    				<h4>美妆相机</h4>
	    				<p>想过最好的美妆神器</p>
	    			</div>
			     	<div class="col-md-3 info2">
	    				<!-- 商品图片 -->
	    				<div class="appImg">
	    					<img src="./public/meitu-img/other-img/app7.png" alt="">
	    				</div>
	    				<h4>万能相机</h4>
	    				<p>你只需要一个相机App</p>
	    			</div>
			    </div>
			</div>
		</div>
		<!-- end 轮播图 -->
	</div>
	<!-- 内容区域end -->


	<!-- 尾部 -->
	<footer class="footer ">
	    <div class="container-fluid" style="background: #FAFAFA">
	       <div class="row">
			<div class="col-xs-10 col-xs-offset-1" style="margin-top:40px;">
				    <div class="row footer-top">
				      <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-0">
				        <div class="weizi row about ">
				          <div class="col-xs-4 col-sm-3 col-md-2" >
				            <h4>美图手机</h4>
				            <ul class="list-unstyled">
				              <li><a href="/about/">购买指南</a></li>
				              <li><a href="/ad/">支付方式</a></li>
				              <li><a href="/links/">送货政策</a></li>
				            </ul>
				          </div>
				          <div class="col-xs-4 col-sm-3 col-md-2">
				            <h4>购物指南</h4>
				            <ul class="list-unstyled">
				              <li><a href="#" target="_blank">维修门店</a></li>
				              <li><a href="#">零售门店</a></li>
				            </ul>
				          </div>
				          <div class="col-xs-4 col-sm-3 col-md-2">
				            <h4>配送方式</h4>
				            <ul class="list-unstyled">
				              <li><a href="#" target="_blank">热点咨询</a></li>
				              <li><a href="" target="_blank">预约购买</a></li>
				              <li><a href="" target="_blank">订单物流</a></li>
				            </ul>
				          </div>
				          <div class="col-xs-4 col-sm-3 col-md-2">
				            <h4>售后服务</h4>
				            <ul class="list-unstyled">
				              <li><a href="" target="_blank">新闻动态</a></li>
				              <li><a href="" target="_blank">官方视频</a></li>
				              <li><a href="" target="_blank">图片资源</a></li>
				            </ul>
				          </div>
				          <div class="col-xs-4 col-sm-3 col-md-2">
				            <h4>关于美图</h4>
				            <ul class="list-unstyled">
				              <li><a href="" target="_blank">美图公司简介</a></li>
				              <li><a href="" target="_blank">加入美图</a></li>
				              <li><a href="" target="_blank">联系我们</a></li>
				              <li><a href="" target="_blank">留言反馈</a></li>
				            </ul>
				          </div>
				          <div class="col-xs-4 col-sm-3 col-md-2">
				            <h4>关注我们</h4>
				            <ul class="list-unstyled">
				              <li><a href="" target="_blank">新浪微博</a></li>
				              <li><a href="" target="_blank">官方微信</a></li>
				              <li><a href="" target="_blank">美图动态</a></li>
				            </ul>
				          </div>
				        </div>
				      </div>
				      <div class="col-xs-8 col-sm-3 col-md-3 col-md-offset-0">
				      	<div class="row"  style="padding-top:25px;">
				      		<div class="col-xs-12 col-md-10">
								<ul class="list-unstyled">
							        <li><p class="tel">400-990-9696</p></li>
							        <li><p class="time">周一至周日 9:00-24:00</p></li>
							        <li>
										<button type="button" class="zxbz btn btn-primary">在线客服</button>
							        </li>
							        <li></li>
					       	 	</ul>	
				      		</div>
							
					  	</div>
				      	
				      </div>
				    </div>

				    <hr>
				    <div class="row footer-bottom">
				    	<div class="col-md-7">
					      <ul class="list-inline ">
					        <li class="dibu">
					        	<a href="">美图官网</a>
					        </li>
					        <li class="dibu">
					        	<a href="">美图秀秀</a>
					        </li>
					        <li class="dibu">
					        	<a href="">美颜相机</a>
					        </li>					        
					        <li class="dibu">
					        	<a href="">每盘</a>
					        </li>
					        <li class="dibu">
					        	<a href="">BeautyPlus</a>
					        </li>
					        <li class="dibu">
					        	<a href="">潮自拍</a>
					        </li>
					     </ul>
					     	<li class="xia"> 特别鸣谢美图科技有限公司</li>
		    			</div>
				    	<div class="col-md-4">
				    		<div>
				    			<img src="./public/meitu-img/other-img/cnnic.png" alt="">
				    			<img src="./public/meitu-img/other-img/Ei!readEiImgByMemory.png" alt="">
				    		</div>
				    	</div>		    			
      	    			<div class="col-md-1">
      						<div class="dropup">
      						  <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      						   	<div class="guoqi"></div>
      						   	<div class="ying">&nbsp;&nbsp;中文&nbsp;&nbsp;</div>
      						    <span class="caret"></span>
      						  </button>
      						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      						    <li>
      						    	<div class="meiguo"></div>
      									<div class="zw">&nbsp;&nbsp;English&nbsp;&nbsp;</div>
      						    </li>
      						  </ul>
      						</div>
      	    			</div>
				    </div>
				  </div>
			</div>
	    </div>
	</footer>   

    <!-- 自定义js -->
	<script src="./public/js/jquery-1.8.3.min.js"></script>
	<script src="./public/js/my-index.js"></script>
</body>
</html>